<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <form action="" class="contact-from df fw">
        <div>
            <h2 for="">first name</h2>
            <input type="text" required name="first" placeholder="first name ..">
        </div>
        <div>
            <h2>last name</h2>
            <input type="text" required name="last" placeholder="last name ..">
        </div>
        <div>
            <h2>email address</h2>
            <input type="email" required placeholder="for ex : someone@here.com">
        </div>
        <div>
            <h2>query type</h2>
            <div class="radio">
                <input type="radio" name="query" id="general" value="general enquiry">
                <label for="general">general enquiry</label>
            </div>
            <div class="radio">
                <input type="radio" name="query" id="support" value="support request">
                <label for="support">support request</label>
            </div>
        </div>
        <div>
            <h2>message</h2>
            <textarea name="message" id="message"></textarea>
        </div>
        <div>
            <input type="checkbox" value="cookie" id="cookie">
            <label for="cookie">i know that the team will contact me</label>
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>